/* GENERAL */

* {
    margin: 0;
    padding: 0;
}


/* HEADER */

header {
    background-color: rgb(200, 201, 197);
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

#titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#easdir {
    font: 1.5em "Forte", serif;
    color: rgb(54, 213, 251);
}

#logo {
    width: 100px;
    height: 100px;
    margin: 10px;
}


/* CONTENU */

#contenu {
    margin: 5px;
}

#elements {
    display: flex;
    flex-wrap: wrap;
}

article {
    border: solid;
    padding: 5px;
    margin: 10px;
    width: 100px;
}

article img {
    width: 100px;
    height: 100px;
}

article p {
    text-align: center;
    word-wrap: break-word;
}


/* FOOTER */

footer {
    background: rgb(200, 201, 197);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-footer {
    margin: 15px;
    text-align: center;
}